p 
{
	text-align: center;
	background-color: grey;
	border: 5px solid;
	border-radius: 10px;
}
#red
{
	border-color: red;
}
#green
{
	border-color: green;
}
#blue
{
	border-color: blue;
}
div
{
	padding: 10px;
	border-radius: 15px;
}
#third
{
	border: 5px dotted blue;
}
#second
{
	border: 5px dashed red;
}
#first
{
	text-align: center;
	border: 5px solid green;
}
